@tailwind base;
@tailwind components;
@tailwind utilities;

.academic-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .skills span {
    background-color: #e0f2fe;
    color: #0284c7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .interests ul {
    margin-top: 1rem;
    line-height: 1.5;
  }
  